@charset "UTF-8";

body {
    background: rgb(228, 183, 117);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
}

h1 {
    color: darkblue;
    background-color: lightblue;
}

h2 {
    color: rgb(139, 0, 0);
}

p {
    text-align: justify;
}
