<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meu primeiro site com AdonisJS</title>
</head>
<body>
    <h1>Hello World</h1>

    <!-- Passar o parâmetro para a view -->
    <h2> Usuário {{usuario.nome}}</h2>

    <!-- Vai renderizar todas as técnologias -->
    <h2> Tecnologias: {{usuario.tecnologias}} </h2>
    <h2>Tecnologias excluidas: {{usuario.tecnologias_excluidas}}</h2>
</body> 
</html>