{{# users }}
    
    <li> 
        {{nome}} - {{idade}} {{firstLetterName}}
        <a href="/exercicio/{{id}}/somar">+</a>
        <a href="/exercicio/{{id}}/diminuir ">-</a>
        <a href="/exercicio/{{id}}/excluir ">excluir</a>
    </li>
{{/ users }}

    <p id="para">qualquer coisa</p>
