<form action="exercicioResponse" method="post">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="">
    <label for="idade">idade</label>
    <input type="text" name="idade" id=""> <br> <br>
    <input type="submit" value="Cadastrar usuário">
</form>


<hr>