{{>partials/header}}

<h2>Qual a sua idade ? </h2>

<form action="/idade-resultado" method="post">
    <input type="number" name='ano' placeholder="Ano de nascimento:">
    <input type="submit" value="Enviar">
</form>

{{# mostrarIdade }}
    <hr>
    Você tem {{idade}} anos
{{/ mostrarIdade }}
    
    {{>partials/footer}}